WebContent/WEB-INF/schemas/theme.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- 

Copyright (C) 2018 - Gareth Edwards / Rapid Information Systems

gareth.edwards@rapid-is.co.uk


This file is part of the Rapid Application Platform

Rapid is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version. The terms require you to include
the original copyright, and the license notice in all redistributions.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
in a file named "COPYING".  If not, see <http://www.gnu.org/licenses/>.

 -->

	<xs:annotation>
		<xs:documentation>The schema for .theme.xml files</xs:documentation>
	</xs:annotation>
	<xs:element name="template">
		<xs:annotation>
			<xs:documentation>Each .theme.xml file describes a single template
			</xs:documentation>
		</xs:annotation>
		
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="type">
					<xs:annotation>
						<xs:documentation>The theme type is used to uniquely identify
							this theme, it should not contain spaces or punctuation
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[a-zA-Z0-9_]{1,}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>		
									
				<xs:element name="name">
					<xs:annotation>
						<xs:documentation>The theme name is used presented to users
							when describing, or logging something about this control
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="visible" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>For legacy themes. If set to false the theme will not be available in Rapid Admin to select for adding to applications
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="parameters" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Theme parameters are also included where ever application parameters are replaced 
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parameter" minOccurs="1"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="value">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="resources" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Resources allow other files to be included in the appropriate places in each pages html, and will be included in the Rapid Mobile download .zip file
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resource" minOccurs="1"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type">
											<xs:annotation>
												<xs:documentation>
													The contents of the plain javascript is written to the rapid.js file and the plain css is written to the application rapid.css file. 
													The javascriptFile and cssFile are written into the html head section includes as links, these are replaced with minified versions for live applications.
													The javascriptLink and cssLink are written into the html head section includes as links, but no minified version are made. 
													The file type resources	are included in the off-line download
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="javascript" />
													<xs:enumeration value="css" />																
													<xs:enumeration value="javascriptFile" />
													<xs:enumeration value="cssFile" />																
													<xs:enumeration value="javascriptLink" />
													<xs:enumeration value="cssLink" />
													<xs:enumeration value="file" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="contents">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="css">
					<xs:annotation>
						<xs:documentation>CSS classes in this element will be available in the Style Classes drop down in the Rapid Designer for designers to assign to controls
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
			<xs:element name="headerHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately after the body element in all pages, excluding the form summary.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	
			<xs:element name="footerHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately before the closing body element in all pages, excluding the form summary.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="headerHtmlDesigner" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately after the body element in all pages when loaded in the Rapid Designer. This is to allow unsafe or conflicting JavaScript libraries to be removed.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	
			<xs:element name="footerHtmlDesigner" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately before the closing body element in all pages when loaded in the Rapid Designer. This is to allow unsafe or conflicting JavaScript libraries to be removed.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<!--
			
			This wil be provided in a future version in conjunction with the form adapter 
			
			<xs:element name="formSummaryStartHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately after the body element in the form summary.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="formSummaryPageStartHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included before each page's group of controls with form summary labels. [[title]] will include the title of the page
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	
			<xs:element name="formSummaryPageEndHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included after each page's group of controls with form summary labels.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="formSummaryPagesEndHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included after all pages in the form summary, but before the submit button.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	
			<xs:element name="formSummaryEndHtml" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML that will be included immediately before the closing body element in the form summary.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			 -->
				
			</xs:sequence>
			<xs:attribute name="xmlVersion" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>This attribute defines the version of the xml file</xs:documentation>
				</xs:annotation>
			</xs:attribute>
	
		</xs:complexType>
				
	</xs:element>
</xs:schema>